<app-toast
  *ngIf="showToast"
  message="Your survey is now published"
  [isError]="false"
  (dismissed)="showToast = false"
/>

<app-toast
  *ngIf="showErrorToast && publishStatus === 'error'"
  [message]="publishError"
  [isError]="true"
  (dismissed)="showErrorToast = false; publishStatus = 'idle'"
/>

<app-dashboard
  *ngIf="!selectedSurvey && !isCreating"
  [surveys]="(surveys$ | async) ?? []"
  [currentFilter]="currentFilter"
  (filterChanged)="setFilter($event)"
  (surveySelected)="selectSurvey($event)"
  (createClicked)="openCreateMode()"
/>

<app-create-survey
  *ngIf="isCreating"
  [draft]="newSurvey"
  [publishStatus]="publishStatus"
  [publishError]="publishError"
  (cancelled)="cancelCreation()"
  (published)="publishSurvey()"
/>

<app-survey-detail
  *ngIf="selectedSurvey"
  [survey]="selectedSurvey"
  [selectedOptions]="selectedOptions"
  (voteRegistered)="registerVote($event.questionIndex, $event.optionIndex, $event.event)"
  (completed)="goBack()"
  (createClicked)="openCreateMode()"
  (backClicked)="goBack()"
/>
